<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Face App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none header-element">
        <img src="/svg/logo.svg" alt="logo">
        <span class="fs-4">Face App</span>
      </a>

      <ul class="nav nav-pills nav-buttons">
        <li class="nav-item"><a href="/"class="nav-link nav-button" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/search" class="nav-link">Search</a></li>
        <li class="nav-item"><a href="/addContent" class="nav-link">Share</a></li>
        <li class="nav-item"><a href="/profile" class="nav-link">My Profile</a></li>
        <li class="nav-item"><a href="/api/auth/logout" class="nav-link">Logout</a></li>
      </ul>
    </header>
  </div>
  <main>


  
  
  