body {
  background-color: #e8ecef;
}

main {
  min-height: 150vh;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.login-register-msg {
  margin-top: 16px;
  margin-bottom: 0px;
  font-weight: bolder;
  color: rgb(45, 44, 44);
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80%;
}
.photo-item {
  margin: 20px;
  margin-left: 50px;
}
.photo-item img {
  width: 900px;
  height: 650px;
}

.hide {
  display: none;
}

.user-table table,
th,
td {
  border: 1px solid;
}

.user-table table {
  width: 50%;
}

.user-table td {
  height: 40px;
}

.user-table {
  display: flex;
  justify-content: center;
}

#profile-picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 20px;
  margin-right: 0;
}

.first-section {
  display: flex;
  gap: 2%;
  height: fit-content;
}

.second-section {
  margin: 20px;
}

.followings-followers {
  margin: 70px 10px 0 50px;
  height: 40px;
}

.username-bio {
  display: block;
  margin: 50px 0;
  text-align: center;
}

.bio {
  max-width: 200px;
  height: fit-content;
  margin: 0 30px;
}

.followings-list {
  margin: 0 50px;
  background-color: darkgray;
  width: fit-content;
  height: fit-content;
}

.followers-list {
  margin: 0 50px;
  background-color: darkgray;
  width: fit-content;
  height: fit-content;
}

.followings-list li {
  min-width: 100px;
}

.followers-list li {
  min-width: 100px;
}

.followings-followers-container {
  margin: 50px 20px 20px 20px;
  display: flex;
  width: fit-content;
  height: fit-content;
  background-color: darkgray;
}

.followers-list p {
  font-weight: bold;
  text-align: center;
}

.followings-list p {
  font-weight: bold;
  text-align: center;
}

.photo-container {
  display: block;
  text-align: center;
  margin: 50px 0 50px 0;
}

.comment-detail {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.comments-panel {
  background-color: #fff;
  height: fit-content;
}

.comments-panel button {
  padding: 1px;
  border: none;
  margin: 0 0 10px 10px;
  background-color: #f44336;
}

.comments-panel button:hover {
  background-color: red;
}

.comments-panel p {
  margin: 0;
}

.like-button {
  background-color: #d3d2d2;
  border: none;
  color: #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.like-button.liked {
  background-color: #ff4081;
  color: #fff;
}

.like-button:hover {
  background-color: #fa75a1;
}

.add-comment-button {
  background-color: #d3d2d2;
  border: none;
  color: #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.add-comment-button:hover {
  background-color: #909090;
}

.show-all-comments-button {
  background-color: #d3d2d2;
  border: none;
  color: #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.show-all-comments-button:hover {
  background-color: #909090;
}

.comment-delete-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.deleteCommentSvgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.deleteCommentSvgIcon path {
  fill: white;
}

.comment-delete-button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.comment-delete-button:hover .deleteCommentSvgIcon {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(60%);
}

.comment-delete-button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.comment-delete-button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: 0.3s;
}

.followers-followings-button {
  font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
  font-size: 1rem;
  align-items: center;
  height: 48px;
  border-radius: 0.4rem;
  font-weight: 600;
  padding: 0 1.2rem;
  color: #ddd;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
  background: #000000;
  margin-left: 5px;
}

.followers-followings {
  font-size: 0.8rem;
  color: #7f7f7f;
}

.followers-followings-button:hover {
  background: #2b2a2a;
}

likes-count-button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

likes-count-button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.comment-add-container {
  display: inline;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container button {
  width: fit-content;
  height: fit-content;
  margin: 25px 5px 25px 5px;
}

.likes-panel {
  background-color: darkgray;
  width: fit-content;
  height: fit-content;
  text-align: center;
  min-width: 100px;
  min-height: 100px;
}

.likes {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.comment-form input[type="text"] {
  transition: width 0.4s ease-in-out;
}

.comment-form input[type="text"]:focus {
  width: 100%;
}

.edit-forms form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.edit-forms input {
  transition: width 0.4s ease-in-out;
  width: 80%;
}

.edit-buttons {
  background-color: #d3d2d2;
  border: none;
  color: #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.edit-buttons:hover {
  background-color: #909090;
}

.header-element {
  margin-right: 528px;
  font-size: 1.5rem;
  display: flex;
  gap: 1px;
  color: #000;
}

.header-element img {
  width: 65px;
  height: 45px;
}

.nav-button {
  background-color: #d3d2d2;
}

.nav-button:hover {
  background-color: #909090;
}

.nav-buttons a {
  color: #000;
}

.footer-buttons a {
  color: #000;
}

.search-button {
  background-color: #d3d2d2;
  border: none;
  color: #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.search-button:hover {
  background-color: #909090;
}

input[type="file"]::file-selector-button {
  background-color: #d3d2d2;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-color: #909090;
}

input[type="file"] {
  height: fit-content;
}

.photo-msg {
  text-align: center;
  margin-top: 100px;
}

.follow-unfollow-button {
  margin: 100px 0 100px 100px;
}

.follow-unfollow-button button {
  background-color: #d3d2d2;
  border: none;
  color: #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.follow-unfollow-button button:hover {
  background-color: #909090;
}

.photo-bio {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.edit-caption-button {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  padding: 0;
  width: 1px;
  height: 2px;
}

.save-caption-button {
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
}

.welcome {
  padding-top: 0;
}

.welcome img {
  width: 60px;
  height: 44px;
  margin-bottom: 8px;
}

.welcome p {
  font-size: 1rem;
  margin-top: 0;
}

.welcome h1 {
  margin-bottom: 0;
}

.photo-bio-home {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.photo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.photo-title img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 0;
}

.photo-item-home {
  margin: 20px;
  margin-left: 50px;
  margin-top: 0;
}

.photo-item-home img {
  width: 900px;
  height: 650px;
}

.addCommmentForm {
  margin-bottom: 60px;
}

.photo-date {
  margin-left: 700px;
}

.hide-info-container p {
  position: absolute;
  left: 350px;
  color: #b30404;
}

.login-register-button {
  background-color: #d3d2d2;
  border: none;
  color: #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 0;
}

.login-register-button:hover {
  background-color: #909090;
}
