body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.login-register-msg {
  margin-top: 16px;
  margin-bottom: 0px;
  font-weight: bolder;
  color: rgb(45, 44, 44);
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
}
.photo-item {
  margin: 10px;
}
.photo-item img {
  max-width: 100px;
  max-height: 100px;
}
