body {
  background-color: #e8ecef;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.login-register-msg {
  margin-top: 16px;
  margin-bottom: 0px;
  font-weight: bolder;
  color: rgb(45, 44, 44);
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 80%;
}
.photo-item {
  margin: 20px;
  margin-left: 50px;
}
.photo-item img {
  width: 300px;
  height: 300px;
}

.hide {
  display: none;
}

.user-table table,
th,
td {
  border: 1px solid;
}

.user-table table {
  width: 50%;
}

.user-table td {
  height: 40px;
}

.user-table {
  display: flex;
  justify-content: center;
}

#profile-picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 20px;
  margin-right: 0;
}

.first-section {
  display: flex;
  gap: 2%;
  height: fit-content;
}

.second-section {
  margin: 20px;
}

.followings-followers {
  margin: 70px 10px;
  height: 40px;
}

.username-bio {
  display: block;
  margin: 50px 0;
  text-align: center;
}

.bio {
  max-width: 50%;
  margin: 0 30px;
}

.followings-list {
  margin: 0 50px;
  background-color: darkgray;
  width: fit-content;
  height: fit-content;
}

.followers-list {
  margin: 0 50px;
  background-color: darkgray;
  width: fit-content;
  height: fit-content;
}

.followings-list li {
  min-width: 100px;
}

.followers-list li {
  min-width: 100px;
}

.followings-followers-container {
  margin: 50px 20px 20px 20px;
  display: flex;
  width: fit-content;
  height: fit-content;
  background-color: darkgray;
}

.followers-list p {
  font-weight: bold;
  text-align: center;
}

.followings-list p {
  font-weight: bold;
  text-align: center;
}

.photo-container {
  display: block;
  text-align: center;
}

.follow-unfollow-button {
  margin: 100px 0 100px 50px;
}
