<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <% if (locals.errMsg) { %>
      <div class="alert alert-success">
        <%= errMsg %>
      </div>
    <% } %>
    <form action="/api/photos" method="POST" enctype="multipart/form-data">
      <% if(locals.userId) { %>
        <div class="form-group">
          <input hidden type="text" class="form-control" name="userId" value="<%= userId %>">
        </div>
      <% } %>
      <div class="form-group">
        <label for="photo">Photo</label>
        <input type="file" class="form-control" name="photo" accept="image/*">
      </div>
      <div class="form-group">
        <label for="caption">Caption</label>
        <input type="text" class="form-control" name="caption">
      </div>
      <button type="submit" class="btn btn-dark">Add</button>
    </form>
  </div>
</div>

<%- include('partials/footer') %>