<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fa-solid fa-star fa-6x"></i>
    <h1 class="display-3">Welcome to FaceUpp</h1>
    <p class="lead">Don't keep your photos, share them with your friends!</p>
    <hr>
    <a href="/api/auth/logout">Logout</a>
  </div>
</div>

<%- include('partials/footer') %>
