<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fa-solid fa-star fa-6x"></i>
    <% if(locals.username) { %>
      <h1 class="display-3">Welcome to FaceUpp <br> <%= username %></h1>
    <% } %>
    <p class="lead">Don't keep your photos, share them with your friends!</p>
    <hr>
    <a href="/search">Search</a>
    <a href="/addContent">Add Content</a>
    <a href="/profile">Profile</a>
    <a href="/api/auth/logout">Logout</a>
    <% if (locals.successMessage) { %>
      <div class="alert alert-success">
        <%= successMessage %>
      </div>
    <% } %>
  </div>
</div>

<%- include('partials/footer') %>
