<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/users" method="POST">
        <input type="text" name="username" placeholder="UserName" autocomplete="off" autofocus="true">
        <input type="text" name="password" placeholder="Password" autocomplete="off" autofocus="true">
        <button type="submit" name="add">Add</button>
    </form>
</body>
</html>
